.btnWrap {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 5px 15px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;
}
